@{
    ViewData["Title"] = "Reporte calendario";
}
<partial name="_SubMenu" model="SubMenuTransacciones.Calendario"/>
<div class="card">
    <div class="card-header">
        Calendario
    </div>
    <div class="card-body">
        <div id='calendar'></div>
        <div class="modal fade" id="modalTransacciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Gastos del día</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th id="modalTablaFecha"
                                        colspan="2"></th>
                                    <th id="modalTablaIngresos" class="activo"></th>
                                    <th id="modalTablaGastos"
                                        colspan="2" class="pasivo"></th>
                                </tr>
                            </thead>
                            <tbody id="modalTablaCuerpo" >
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script src="~/lib/fullcalendar/main.min.js" ></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth',
                events: '/transacciones/ObtenerTransaccionesCalendario',
                dateClick: async function(info){
                    await buscarPorFecha(info.dateStr);
                }
            });
            calendar.render();
        });

        async function buscarPorFecha(fecha){
            const response = await fetch(`/transacciones/ObtenerTransaccionesPorFecha?fecha=${fecha}`,{
                method: 'GET',
                headers: {
                    'content-type':'application/json'
                }
            });
            const json = await response.json();
            let ingresos = 0;
            let gastos = 0;
            const tipoOperacionIngreso = 1;

            const formateador = new Intl.NumberFormat('en-US',{
                style: 'currency',
                currency: 'USD'
            })

            const filas= json.map(transaccion=>{
                if (transaccion.tipoOperacionId === tipoOperacionIngreso){
                    ingresos += transaccion.monto; 
                }else{
                    gastos += transaccion.monto;
                }
                return `<tr>
                    <td>${transaccion.categoria}</td>
                    <td>${transaccion.cuenta}</td>
                    <td align="right" colspan="2"
                            class=${transaccion.tipoOperacionId === tipoOperacionIngreso ? 'activo' : 'pasivo'}>
                              ${formateador.format(transaccion.monto)}
                            </td>
                </tr>`;
            });
            $("#modalTablaCuerpo").html(filas);
            $("#modalTablaIngresos").html(formateador.format(ingresos));
            $("#modalTablaGastos").html(formateador.format(gastos));
            $("#modalTablaFecha").html(fecha);


            const modalTrnsacciones = new bootstrap.Modal(document.getElementById("modalTransacciones"));
        
            modalTrnsacciones.show();
        
        }

    </script>
}