@model ModelViewLogin

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="col-form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox"
        asp-for="Recordar"/>
        <label class="form-check-label" asp-for="Recordar"></label>
    </div>

    <button class="btn btn-primary">Registrar</button>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}