@model Categoria

@{
    ViewData["Title"] = "Borrado de una categoría";
}

<div class="card">

    <div class="card-body">

        <h3 class="mb-3">¿Está seguro de eliminar a @Model.Nombre?</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="EliminarCategoria">
            <input type="hidden" asp-for="Id" />
            <button class="btn btn-danger">Borrar</button>
            <a class="btn btn-secundary" asp-action="Index">Cancelar</a>
        </form>
    </div>
</div>